<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <title>Document</title>
</head>
<header>
    <%- include ('./partials/header.ejs') %>
</header>
<body>
    <h1>Edit Profile: <%=user.displayname%></h1>

   
     
     

     <form class='signing' action='/sessions/<%= user.id %>?_method=PUT'  method='POST'>
<br>
        <input style='margin-left: 275px; width:100px;' class='editprofile' id='editprofile' type="submit" value="Edit Profile"/>
         <label type='text' for='firstname' name='name'>First Name</label>
         <input type='text' name='firstname' value='<%=user.firstname%>'> <br>
     
         <label type='text' for='lastname' name='lastname'>Last Name</label>
         <input type='text' name='lastname' value='<%=user.lastname%>'> <br>
     
         <label type='text' for=' displayname' name='displayname'>Display Name</label>
         <input type='text' name='displayname' value='<%=user.displayname%>'> <br>
     
         <label type='text' for='occupation' name='occupation'>Occupation</label>
         <input type='text' name='occupation' value='<%=user.occupation%>'> <br>
     
         <label type='text' for='investmenttype' name='investmenttype'>Investment Type</label>
         <input type='text' name='investmenttype' value='<%=user.investmenttype%>'> <br> 
     
         <label type='text' for ='aboutme'>About Me</label> 
         <textarea for='aboutme' type='text' name='aboutme' ><%=user.aboutme%></textarea> <br>
     
         <label type='text' for='experience' name='experience'>Years of Experience</label>
         <input type='text' name='experience' value='<%=user.experience%>'> <br>
     
         <label type='text' for='username' name='username'>Username</label>
         <input type='text' name='username' value='<%=user.username%>'> <br>
         <label type='text' for='password' name='password'>Password</label>
         <input type='password' name='password' value='<%=user.password%>'>
         <br>
     
         <label type='text' for='confirmpassword' name='confirmpassword'>Confirm Password</label>
         <input type='password' name='confirmpassword' value='<%=user.confirmpassword%>'>
         <br>
    </form>
</body>
</html>